/* Estilos para el contenido del modal */
.modal-contenido {
    background-color: rgba(119, 119, 119, 0.904);
    padding: 2rem;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    position: relative;
    transition: all 0.3s ease-in-out;
    margin: 5rem auto;
}

/* Botón de cerrar */
#cerrar-modal-usuario {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    color: #f8f9fa;
    cursor: pointer;
}
.seleccion-campo option {
    background-color: #333333;
    color: #ffffff;
}

#cerrar-modal-usuario:hover {
    color: #ff6b6b;
}

/* Estilos de los campos del formulario */
#form-editar-usuario {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#form-editar-usuario label {
    color: #f8f9fa;
    font-weight: bold;
}

#form-editar-usuario input[type="text"],
#form-editar-usuario input[type="email"],
#form-editar-usuario input[type="tel"],
#form-editar-usuario input[type="date"],
#form-editar-usuario select {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.2);
    color: #f8f9fa;
}

/* Estilos del botón de submit */
#form-editar-usuario button {
    background-color: #009973;
    color: white;
    padding: 0.8rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#form-editar-usuario button:hover {
    background-color: #00ae8e;
}

/* Animación de aparición del modal */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.modal {
    animation: fadeIn 0.3s;
}

/* Ajustes de responsividad */
@media (max-width: 768px) {
    .modal-contenido {
        width: 90%;
        padding: 1rem;
        max-width: 100%;
    }

    #cerrar-modal-usuario {
        font-size: 24px;
    }
}

/* Ajustes para pantallas grandes */
@media (min-width: 1920px) {
    .modal-contenido {
        width: 60%;
        padding: 3rem;
        max-width: 900px;
        margin-top: 14rem;
    }
}
